<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="projectName">Project name</label>
          <input
            type="text"
            formControlName="projectName"
            id="projectName"
            class="form-control"
          />
          <span
            class="help-block"
            *ngIf="
              !signupForm.get('projectName').valid &&
              signupForm.get('projectName').touched
            "
          >
            <span
              *ngIf="
                signupForm.get('projectName').errors['projectNameForbidden']
              "
              >This name is invalid
            </span>
            <span *ngIf="signupForm.get('projectName').errors['required']"
              >Please enter a valid project name</span
            >
          </span>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            formControlName="email"
            id="email"
            class="form-control"
          />
          <span
            class="help-block"
            *ngIf="
              !signupForm.get('email').valid && signupForm.get('email').touched
            "
            >Please enter a valid email</span
          >
        </div>
        <div class="radio" *ngFor="let status of allStatus">
          <label>
            <input type="radio" formControlName="status" [value]="status" />{{
              status
            }}
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
